@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    background-image: url("../images/fabian-mardi-kVKz9qnJC-k-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
    margin-top: -10rem;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bolder;
}

.countdown-el{
    text-align: center;
}

.countdown-el span{
    font-size: 1.5rem;
}